[package]
name = "serial-settings"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
menu = {git = "https://github.com/rust-embedded-community/menu", branch = "feature/borrowed-context", features = ["echo"]}
heapless = "0.8"
embedded-io = "0.6"
miniconf = "0.9"
